@{
}

<head>
    <title>youtility electricity tips</title>
    <meta charset="utf-8">
    <link rel="icon" href="~\images\youtility_emblem.png" />
    <link rel="stylesheet" href="~/css/Utilities/Tips.css" />
</head>


<div class="overview-boxes-2">
    <div class="box box-item-1">
        <div class="achievements">Tips for YOU</div>
        <div class="tip-1">
            <ul>
                <li>@ViewBag.tips[0]</li>
                <li>@ViewBag.tips[1]</li>
                <li>@ViewBag.tips[2]</li>
            </ul>
        </div>
    </div>
    <div class="box box-item-2">
        <div class="achievements">Additional Resources for Tips</div>
        <div class="tip-1">
            <ul>
                <li>
                    <span>Electricity Conservation:</span>
                    <a class="utility-links" href="https://www.greercpw.com/electricity-conservation-tips/">greercpw.com</a>
                </li>
                <li>
                    <span>Reduce Electricity Bill:</span>
                    <a class="utility-links" href="https://green.harvard.edu/tools-resources/poster/top-5-steps-reduce-your-energy-consumption">green.harvard.edu</a>
                </li>
                <li>
                    <span>Use Electricity Efficiently:</span>
                    <a class="utility-links" href="https://www.directenergy.com/learning-center/25-energy-efficiency-tips">directenergy.com</a>
                </li>
            </ul>
        </div>
        <img src="..\images\youtility_emblem.png" />
    </div>
</div>

<!--div class="container py-3">
    <header>
        <div class="tips-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Water Tips</h1>
            <p class="fs-5 text-muted">Here are some effective tips/tools to help YOU lower your water utility usage bill. By implementing these simple tasks, YOU can save money on your utility bill and help with conservation efforts</p>
        </div>
    </header>

    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Gardening</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">Water the soil, not the leaves.<small class="text-muted fw-light"></small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Kitchen</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">Dropping ice cubes?<small class="text-muted fw-light"></small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>If you accidentally drop ice cubes, don't drop them in the sink -- place them in a houseplant instead!  You can collect the water you use to rinse your fruits and vegetables and use it to water houseplants, too.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Bathroom</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">Brushing your teeth.<small class="text-muted fw-light"></small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Turn off water while brushing your teeth. There’s no need to keep water pouring down the drain. Wet your toothbrush and fill a glass for mouth rinsing.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</--div-->
